# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Large ML datasets
ml/data/*.csv
ml/data/**/*.csv
ml/data/*.zip
ml/data/**/*.zip

# ML temporary files
ml/artifacts/**/*.tmp
